<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="westchaseSessionFactory">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/westchase</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.default_catalog">westchase</property>
  <!--
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  -->
  <property name="hibernate.dialect">com.westchase.hibernate.dialect.MySQLDialect</property>
  
<mapping class="com.westchase.persistence.model.Audit" />
<mapping class="com.westchase.persistence.model.AuditCompany" />
<mapping class="com.westchase.persistence.model.AuditPhoneBook" />
<mapping class="com.westchase.persistence.model.AuditProperty" />
<mapping class="com.westchase.persistence.model.Category" />

<mapping class="com.westchase.persistence.model.CmuApartment" />
<mapping class="com.westchase.persistence.model.CmuDevsite" />
<mapping class="com.westchase.persistence.model.CmuHotel" />

<mapping class="com.westchase.persistence.model.CmuLease" />
<mapping class="com.westchase.persistence.model.CmuOfficeRetailSvc" />

<mapping class="com.westchase.persistence.model.CmuQuarter" />
<mapping class="com.westchase.persistence.model.CmuTransactionType" />
<mapping class="com.westchase.persistence.model.Company" />
<mapping class="com.westchase.persistence.model.CompanyMapno" />
<mapping class="com.westchase.persistence.model.EmailTemplate" />
<mapping class="com.westchase.persistence.model.Employee" />
<mapping class="com.westchase.persistence.model.Hcad" />
<mapping class="com.westchase.persistence.model.HpdNewsRelease" />
<mapping class="com.westchase.persistence.model.Mapno" />
<mapping class="com.westchase.persistence.model.MapnoId" />
<mapping class="com.westchase.persistence.model.Message" />
<mapping class="com.westchase.persistence.model.Naics" />
<mapping class="com.westchase.persistence.model.PhoneBook" />
<mapping class="com.westchase.persistence.model.PhoneBookCategory" />
<mapping class="com.westchase.persistence.model.PhoneBookProperty" />
<mapping class="com.westchase.persistence.model.PhoneBookRelation" />
<mapping class="com.westchase.persistence.model.PhoneBookRelationType" />
<mapping class="com.westchase.persistence.model.Property" />
<mapping class="com.westchase.persistence.model.Role" />
<mapping class="com.westchase.persistence.model.SentEmail" />
<mapping class="com.westchase.persistence.model.State" />
<mapping class="com.westchase.persistence.model.Street" />
<mapping class="com.westchase.persistence.model.Todo" />
<mapping class="com.westchase.persistence.model.UserRole" />
<mapping class="com.westchase.persistence.model.Wcuser" />
 </session-factory>
</hibernate-configuration>
