<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
<!-- 
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="database" value="MYSQL" />
				<property name="showSql" value="true" />
			</bean>
		</property>
	    <property name="persistenceXmlLocation"  value="classpath:/META-INF/persistence.xml"/>
	    <property name="persistenceUnitName"     value="Westchase"/>
		
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/sandbox" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
 -->	
	<!--  DAOs
	<bean id="personDAO" class="com.westchase.dao.PersonDAO" />
	<bean id="categoryDAO" class="com.westchase.dao.CategoryDAO" />
	 -->
	
	<!--  Services
	<bean id="personService" class="com.westchase.service.PersonService">     
        <constructor-arg index="0">
            <ref local="personDAO" />
        </constructor-arg>		
		
	</bean>
	<bean id="categoryService" class="com.westchase.service.CategoryService">    
		<constructor-arg ref="categoryDAO"/>
	</bean>
 -->
	
	<!-- actions
	<bean id="personAction" class="com.westchase.web.action.cms.PersonAction">     
		<constructor-arg ref="personService"/>
	</bean>
	<bean id="categoryAction" class="com.westchase.web.action.cms.CategoryAction">     
		<constructor-arg ref="categoryService"/>
	</bean>
	 -->

</beans>